
@font-face {  
	font-family: "HANYI";  
	src: url("HYQiHei-50S.otf")
   }  


body {
	background-color: black;
	background-repeat: repeat;
	margin:0px; padding:0px;
	background-size:100%; 
}

.container {
	display: grid;
	grid-template-columns: auto 95% auto;
	grid-template-rows: auto auto auto auto;
	grid-row-gap: 30px;
}
.mainbody{
	grid-column: 2 / 2;



}
.mainbody-1{
	grid-column: 2 / 2;
	margin-top:100px;

}
.title{
	margin-top: 25px;
	grid-column: 2 / 2;
	width:250px;
}
p {
	line-height: 1.5;
	word-wrap:break-word;
	font-family: "HANYI";
	color: white;
	text-align:justify;
}

.title > img {
	object-fit: cover; 
  width: 100%
}


.bott-contain{
    display: flex;
	grid-column: 2 / 2;
    flex-wrap: wrap;

    justify-content: center;
}
.bott {
	text-decoration:none;
	font-family: "HANYI";
	background-color: #252525;
	color:black;
	padding: 15px;
	text-align: center;

    margin: 5px;
    flex: 1;
}
hr {

	color: white;
	background-color: white;

	opacity: 0.3;
}
.card1 {
	grid-column: 2 / 2;
	padding: 20px;
	color:white;
	margin-top: 10px;
	font-family: "HANYI";
	background-color: #252525;
}
.bottom {
	font-family: "HANYI";
	grid-column: 2 / 2;

	color:white;
	padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
	.container{
		display: grid;
	  grid-template-columns: auto 65% auto;
	  grid-template-rows: auto auto auto;
		grid-row-gap: 30px;
		justify-content: center;
	}
@media screen and (min-width: 1300px) {

	.container{
		display: grid;
	  grid-template-columns: auto 45% auto;
	  grid-template-rows: auto auto auto;
		grid-row-gap: 30px;
		justify-content: center;
	}
	.mainbody-1{
		
		

		grid-column: 2 / 2;
		color: white;


	}
	.title{
		margin-top: 55px;
		grid-column: 2 / 2;
		width: 350px;

	}
	p {
		line-height: 1.5;
		word-wrap:break-word;
		font-family: "HANYI";
		font-size:18px;
		text-align:justify;
	}

	.mainbody{
		grid-column: 2 / 2;



	}

}